.header{
    width: 100vw;
    height: 100px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
}
.right{
    width: 100vw;
    height: 100px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
}
.txt5{
    width: 121px;
    padding: 2px;
    margin: 300px;
    border: 2px solid;
    border-radius: 4px;
    background-color: grey;
    color: white;
    cursor: pointer;
    top:50%;

}

